/*
  1.能在父级元素操作尽量的在父级元素操作,自己独有的只能在自己上操作
  2.color属性是继承的,所有在body元素的子元素都继承这个属性,除非覆盖
  3.所有css的优化,可以是重复的用 逗号(,) 写一起
  4.共性的在上,个性的在下
  5.修改标签之后,注意以前的标签的属性

 */

/* 1111111111111111111111111111111111111 */
body {
  background: #454545;
  /* 文字间的行高 */
  line-height: 1.7;
}
a {
  /* 去除 a标签下的下划线; 表示去除css的文件装饰 */
  text-decoration: none;
}
a,body {
  /* body的color属性是继承的,所有在body元素的子元素都继承这个属性,除非覆盖 */
  /* 所有css的优化,可以是重复的用 逗号(,) 写一起 */
  color: #eee;
}
/* 22222222222222222222222222222222222222 */
.side-bar {
  /* 1.向左浮动 */
  float: left;
  /*
  2.表示是body(宽度的百分比都是针对他的母元素的比例)元素的百分之20的宽度
  百分比就是比较灵活,缩放窗口会变化
   */
  width: 20%;
  /* 相对浏览器固定 */
  position: fixed;
}
/* 表示设置 .side-bar下的所以子元素的padding; 作用:浏览器最外侧推开一些 */
.side-bar > * {
  padding: 10px 20px;
}
.side-bar .nav a,
.side-bar .tag-list a {
  /* block: 表示占母元素的整行,整宽 */
  display: block;
  padding: 5px;
  color: #999;

}
/* hover:表示鼠标移上去之后触发的属性 */
.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
  color: #eee;
  /* 表示过度的属性 */
  transition: color 500ms;
  -moz-transition: color 500ms; /* Firefox 4 */
  -webkit-transition: color 500ms; /* Safari 和 Chrome */
  -o-transition: color 500ms; /* Opera */
}
.side-bar .nav a {
  /* 表示设置字重,更粗一些 */
  font-weight: 700;
}

.main {
  float: right;
  width: 80%;
  color: #454545;
}

/* 333333333333333333333333333333333333333 */
.header .logo {
  /* 6.去掉对Logo行高的影响 */
  line-height: 1;
  /* 4.Logo因为有一个边框 */
  border: 5px solid #eee;
  /* 1.给一个内边距 上下10px 左右20px */
  padding: 10px 20px;
  /* 2.字体的大小 */
  font-size: 30px;
  /* 3.inline-block不但是流动的,而且能作用于padding, margin */
  display: inline-block;
  /* 5.作用: 把Logo和下面介绍都推开一点; 设置外边距*/
  margin-bottom: 10px;
}

.acticle-list, .acticle {
  /* margin是透明的 */
  margin-right: 30%;
  background: #fff;
  padding: 20px 30px;
  /* box-shadow: 表示投影 */
  box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 3px 2px rgba(0,0,0,.2); /* Firefox 4 */
  -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,.2); /* Safari 和 Chrome */
  -o-box-shadow: 0 0 3px 2px rgba(0,0,0,.2); /* Opera */
}
.acticle-list .item {
  margin-bottom: 25px;
}
.acticle-list .item > *,
.acticle > * {
  margin: 10px 0px;
}
.acticle-list .item .title,
.acticle .title {
  font-size: 22px;
  font-weight: 700;
  color: #454545;
}
.acticle-list .item .status,
.acticle .status {
  font-size: 13px;
  color: #ccc;
}
